   <!-- Footer -->
   <footer id="footer">
    <ul class="icons">
      <li><a href="https://twitter.com/vstevan" class="icon brands alt fa-twitter"><span
            class="label">Twitter</span></a></li>
      <li><a href="https://www.linkedin.com/in/vinicius-stevam-842978a5/" class="icon brands alt fa-linkedin-in"><span
            class="label">LinkedIn</span></a></li>
      <li><a href="https://www.instagram.com/vstevam/" class="icon brands alt fa-instagram"><span
            class="label">Instagram</span></a></li>
      <li><a href="https://github.com/vstevam" class="icon brands alt fa-github"><span class="label">GitHub</span></a>
      </li>
      <li><a href="mailto:vstevan@gmail.com?subject=Contact" class="icon solid alt fa-envelope"><span
            class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Vinicius Stevam. All rights reserved.</li>
    </ul>
  </footer>

</div>

<!-- Scripts -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
  <script src="https://www.amcharts.com/lib/4/charts.js"></script>
  <script src="https://www.amcharts.com/lib/4/plugins/forceDirected.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
 <!-- Index -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/src/profile.js"></script>
  <!-- Resume -->
<script src="assets/js/amcharts.js"></script>
  <script src="assets/js/jquery-timeline.js"></script>
<script src="assets/src/timeline.js"></script>
  <!-- FireBase -->
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.6.1/firebase-app.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.6.1/firebase-analytics.js"></script>
<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>

</body>

</html>