<!DOCTYPE HTML>
<html>

<head>
  <title>Vinicius Stevam</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="stylesheet" href="assets/css/custom.css" />
  <link rel="stylesheet" href="assets/css/style-timeline.css" />
  <noscript>
    <link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119404237-1"></script>
  <link rel="icon" type="image/png" href="images/favicon.ico">
</head>

<body class="is-preload landing">
  <div id="page-wrapper">

    <!-- Header -->
    <header id="header">
      <a href="index.html"><img id="logo" src="images/logo_v2.png"></img></a>
      <nav id="nav">
        <ul>
          <li><a href="index">Home</a></li>
          <li><a href="resume">Resume</a></li>
          <li>
            <a href="research">VS Research</a>
            <ul>
              <li><a href="fire-group">FIRE Group</a></li>
              <li><a href="btrcast">BTRCast</a></li>
            </ul>
          </li>
          <!-- <li><a href="index.html">Portfolio</a></li> -->
          <li><a href="blog">Blog</a></li>
          <li><a href="impossible-list">Impossible List</a></li>

        </ul>
      </nav>
    </header>